<!-- Modal for Ticket Details -->
<div id="ticket-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modal-title">Detalhes do Ticket</h3>
            <button class="modal-close" onclick="closeModal()">&times;</button>
        </div>
        <div class="modal-body" id="modal-body">
            <!-- Ticket details will be populated by JavaScript -->
        </div>
        <div class="modal-footer" id="modal-footer">
            <!-- Modal actions will be populated by JavaScript -->
        </div>
    </div>
</div>